* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Start Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  display: flex;
  list-style-type: none;
}
.header__nav a {
  font-weight: 550;
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding: 55px 15px;
}
.header__nav i {
  font-size: 10px;
}
button {
  font-size: 15px;
  padding: 20px 35px;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-position: right center;

  color: #fff;
}
.header__nav span {
  display: inline-block;
  transition: all 1s;
}
.header__nav a:hover {
  color: #f55f8d;
}
.header__nav a:hover span {
  animation: upToDown 0.3s;
}

/* End Header */

/* Start Carousel */
.carousel {
  padding-top: 100px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}
.carouselleft__nav p {
  font-size: 18px;
  margin-bottom: 15px;
  color: gray;
}
.carouselleft__nav li {
  list-style-type: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
  color: gray;
}

.carouselleft__nav i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}
.carousel__right .carouselright__nav {
  animation-delay: 3s;
  animation-duration: 2s;
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* End Carousel */

/* Start Services */
.service {
  text-align: center;
  background-image: url(./img/bg2.png);
  background-size: cover;
  background-position: top center;
  padding-top: 115px;
}

.service .service__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.service .service__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}
.service__content .service__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}
.service__nav .service__item {
  padding: 30px 45px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: 0.5s;
}
.service__nav .service__item:hover {
  transform: translateY(-30px);
}
.service__nav .service__item img {
  width: 215px;
}
.service__nav .service__item h2 {
  margin: 15px;
}
/* End Services */

/* Start AboutUs */

.aboutus {
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-position: center;
  padding-bottom: 85px;
  overflow: hidden;
  margin-top: 115px;
}
.aboutus__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutus__content .aboutus__left {
  width: 60%;
  position: absolute;
  left: -17%;
  animation-name: fadeInLeft;

  animation-delay: 0.2s;
  animation-duration: 2s;
}
.aboutus__content .aboutus__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutus__content .aboutus__right {
  width: 50%;
  padding-left: 20px;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInRight;
}
.aboutus__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.aboutus__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}
.aboutus__nav p {
  margin-bottom: 15px;
}
.aboutus__nav li {
  list-style: none;
  padding: 0 0 15px 0px;
}
.aboutus__nav i {
  padding-right: 10px;
  font-size: 24px;
  color: #f55f8d;
}

/* End AboutUs */

/* Start Number */
.number {
  background-image: url(./img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 50px;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__content .number__item i {
  font-size: 45px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: white;
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  border-radius: 50%;
}
.number__content .number__item p:first-of-type {
  font-size: 60px;
  color: #f55f8d;
  font-weight: bold;
}
.number__content .number__item span {
  font-size: 60px;
  font-weight: bold;
  color: #f55f8d;
}

/* End Number */

/* Start Features */
.features {
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: none;
  overflow: hidden;
  margin-top: 115px;
  padding-bottom: 10px;
}
.features__container {
  display: flex;
}

.features__left,
.features__right {
  width: 50%;
}
.features__left .features__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.features__left .features__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}
.features__container .features__right img {
  width: 100%;
  animation-duration: 2s;
  animation: move2 5s infinite;
}

.features__item {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 30px;
  transition: 1s;
  position: relative;
  z-index: 1;
  display: flex;
}
.features__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 1s;
}

.features__item:hover::after {
  opacity: 1;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  transition: 2s;
  border-radius: 10px;
}
.features__item i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  padding-right: 15px;
  z-index: 1;
}

.features__item div {
  z-index: 1;
  transition: 1s;
}
.features__item h2 {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 0;
  transition: 1s;
  color: black;
}
.features__item p {
  font-weight: 400;
  color: gray;
}
.features__item:hover i,
.features__item:hover p,
.features__item:hover h2 {
  color: white;
}
.features__item:nth-last-of-type(2) {
  margin: 30px 0 30px 50px;
}

.features__title {
  animation-duration: 2s;
  animation-delay: 0.2s;
}
.features__item1 {
  animation-duration: 2s;
  animation-delay: 0.2s;
}
.features__item2 {
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.features__item3 {
  animation-duration: 2s;
  animation-delay: 1s;
}

/* End Feartures */

/* Start Portfolio */
.portfolio {
  background-image: url(./img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}
.portfolio__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.portfolio__title h2 {
  font-weight: bold;
  font-size: 50px;
  padding: 10px 0;
  transition: 1s;
  color: black;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item1 {
  grid-column: 1 / span 2;
  animation-duration: 2s;
}
.portfolio__item2 {
  animation-duration: 2s;
}
.portfolio__item3 {
  animation-duration: 2s;
  animation-delay: 1s;
}
.portfolio__item4 {
  animation-duration: 2s;
  animation-delay: 1s;
}
.portfolio__item5 {
  grid-column: 1 / span 2;
  animation-duration: 2s;
  animation-delay: 2s;
}
.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
  animation-duration: 2s;
  animation-delay: 1s;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__icon i {
  color: white;
}

.portfolio__text {
  position: absolute;
  bottom: -45px;
  left: 15px;
  color: white;
  transition: 0.5s;
}
.portfolio__icon a {
  cursor: pointer;
}
.portfolio__item:hover::before {
  left: 125%;
}
.portfolio__overlay:hover {
  opacity: 1;
}
.portfolio__item .portfolio__overlay:hover .portfolio__icon {
  top: 45px;
  right: 45px;
}
.portfolio__item .portfolio__overlay:hover .portfolio__text {
  bottom: 30px;
}

/* End Portfolio */

/* Start Plan */
.plan {
  background-image: url(./img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 115px;
}
.plan .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.plan .title h2 {
  font-weight: bold;
  font-size: 50px;
  padding: 10px 0;
  transition: 1s;
  color: black;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.plan__item {
  padding: 35px 65px;
  border-radius: 8px;
  background-color: #fff;
  border: 3px solid transparent;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  text-align: center;
  border-image: 100 round;
  transition: 1s;
}
.plan__item img {
  width: 125px;
}
.plan__item h3 span {
  color: #f8ae56;
  font-size: 50px;
}
.plan__item hr {
  opacity: 0.3;
  margin: 20px 0;
}
.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #feeff3;
  line-height: 26px;
  color: #f55f8d;
  text-align: center;
  margin-right: 10px;
}
.plan__item ul {
  text-align: left;
}
.plan__item li {
  list-style: none;
  font-weight: 400;
  padding: 5px;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__item button {
  margin: 10px 20px 0 0;
}

/* End Plan */

/* Start Testimonial */
.testimonial {
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: none;
  text-align: center;
  margin-top: 115px;
  padding-bottom: 10px;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
/* End Testimonial */

/* Start Blog */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
/* End Blog */

/* Start Footer */
footer {
  padding: 30px 0;
  background-image: url(../img/pic2.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  font-size: 15px;
  background-color: #0e1b1f;
  color: white;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern2.png);
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  padding: 50px 60px;
  background-color: white;
  background-image: url(../img/pattern3.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px 0rgba (0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.footer__text,
.footer__form {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  background: white;
  color: #888;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid white;
  flex: 1 1 auto;
  transition: all 0.5s;
}

.footer__form input:hover {
  border-color: #f55f8d;
}

.footer__form input:focus {
  border-color: #f55f8d;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  border-color: transparent;
  cursor: pointer;
}

.footer__bottom {
  padding: 50px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 25%;
}

.footer__item h3 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 20px;
}

.footer__item h3::after {
  content: "";
  width: 40px;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__item li {
  list-style: none;
  padding: 0.5rem 0;
}

.footer__item li a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item li a:hover {
  color: white;
}

.footer__contact li {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer__contact li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  color: white;
  margin-right: 10px;
}

/* End Footer */

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, 2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
